---
// src/components/ArticleHeader.astro
const { title, author, publishedDate } = Astro.props;
---

<p class="mb-4 text-sm text-neutral-500">
  <a
    href="/notebook"
    class="hover:text-yellow-700 hover:border-b-2 hover:border-yellow-700"
  >
    &larr; Back to Lab Notes
  </a>
</p>

<h1 class="text-4xl mb-2 font-serif !mt-0">{title}</h1>

<div class="text-neutral-500 mb-4 text-sm">
  {author} on{" "}
  {new Date(publishedDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
    timeZone: "UTC",
  })}
</div>