---
import ArticleHeader from './ArticleHeader.astro';

export interface Props {
  title: string;
  author: string;
  publishedDate: string;
}

const { title, author, publishedDate } = Astro.props;
---

<ArticleHeader
  title={title}
  author={author}
  publishedDate={publishedDate}
/>

<!-- Lab Notebook Blurb -->
<p class="mb-5 border px-4 py-2 rounded bg-gray-100 text-base text-gray-800 max-w-[65ch]">
  We are building <a href="https://worksquared.ai" class="border-b-2 hover:border-b-2 hover:border-yellow-700 hover:text-yellow-700" target="_blank" rel="noopener noreferrer">WorkSquared</a>, a source-available AI-native workspace to evolve human + computer collaboration. In order to build a truly novel product experience, we are rethinking the <a href="/notebook/ws-tech-foundations/" class="border-b-2 hover:border-b-2 hover:border-yellow-700 hover:text-yellow-700">technical foundations</a> from the ground up. This <a href="/notebook" class="border-b-2 hover:border-b-2 hover:border-yellow-700 hover:text-yellow-700">Lab Notebook</a> chronicles our explorations.
</p>